---
swagger: "2.0"
info:
  version: "v1"
  title: "convertapi"
host: "api.cloudmersive.com"
schemes:
- "https"
paths:
  /convert/csv/to/json:
    post:
      tags:
      - "ConvertData"
      summary: "CSV to JSON conversion"
      description: "Convert a CSV file to a JSON object array"
      operationId: "ConvertData_CsvToJson"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "ConvertData"
  /convert/xml/to/json:
    post:
      tags:
      - "ConvertData"
      summary: "XML to JSON conversion"
      description: "Convert an XML string or file into JSON"
      operationId: "ConvertData_XmlToJson"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "ConvertData"
  /convert/docx/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Word DOCX to PDF"
      description: "Convert Office Word Documents (docx) to standard PDF"
      operationId: "ConvertDocument_DocxToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/pdf"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
      responses:
        200:
          description: "OK"
          schema:
            type: "file"
      x-swagger-router-controller: "ConvertDocument"
  /convert/pptx/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "PowerPoint PPTX to PDF"
      description: "Convert Office PowerPoint Documents (pptx) to standard PDF"
      operationId: "ConvertDocument_PptxToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/pdf"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
      responses:
        200:
          description: "OK"
          schema:
            type: "file"
      x-swagger-router-controller: "ConvertDocument"
  /convert/xlsx/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Excel XLSX to PDF"
      description: "Convert Office Excel Workbooks (xlsx) to standard PDF.  Converts\
        \ all worksheets in the workbook to PDF."
      operationId: "ConvertDocument_XlsxToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/pdf"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
      responses:
        200:
          description: "OK"
          schema:
            type: "file"
      x-swagger-router-controller: "ConvertDocument"
  /convert/xlsx/to/csv:
    post:
      tags:
      - "ConvertDocument"
      summary: "Excel XLSX to CSV"
      description: "Convert Office Excel Workbooks (xlsx) to standard Comma-Separated\
        \ Values (CSV) format."
      operationId: "ConvertDocument_XlsxToCsv"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/csv"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
      responses:
        200:
          description: "OK"
          schema:
            type: "file"
      x-swagger-router-controller: "ConvertDocument"
  /convert/autodetect/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Document to PDF"
      description: "Automatically detect file type and convert it to PDF."
      operationId: "ConvertDocument_AutodetectToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/pdf"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
      responses:
        200:
          description: "OK"
          schema:
            type: "file"
      x-swagger-router-controller: "ConvertDocument"
  /convert/image/{format1}/to/{format2}:
    post:
      tags:
      - "ConvertImage"
      summary: "Image format conversion"
      description: "Convert between over 100 file formats, including key formats such\
        \ as Photoshop (PSD), PNG, JPG, GIF, NEF, and BMP."
      operationId: "ConvertImage_ImageFormatConvert"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "format1"
        in: "path"
        description: "Input file format as a 3+ letter file extension.  Supported\
          \ formats include AAI, ART, ARW, AVS, BPG, BMP, BMP2, BMP3, BRF, CALS, CGM,\
          \ CIN, CMYK, CMYKA, CR2, CRW, CUR, CUT, DCM, DCR, DCX, DDS, DIB, DJVU, DNG,\
          \ DOT, DPX, EMF, EPDF, EPI, EPS, EPS2, EPS3, EPSF, EPSI, EPT, EXR, FAX,\
          \ FIG, FITS, FPX, GIF, GPLT, GRAY, HDR, HEIC, HPGL, HRZ, ICO, ISOBRL, ISBRL6,\
          \ JBIG, JNG, JP2, JPT, J2C, J2K, JPEG/JPG, JXR, MAT, MONO, MNG, M2V, MRW,\
          \ MTV, NEF, ORF, OTB, P7, PALM, PAM, PBM, PCD, PCDS, PCL, PCX, PEF, PES,\
          \ PFA, PFB, PFM, PGM, PICON, PICT, PIX, PNG, PNG8, PNG00, PNG24, PNG32,\
          \ PNG48, PNG64, PNM, PPM, PSB, PSD, PTIF, PWB, RAD, RAF, RGB, RGBA, RGF,\
          \ RLA, RLE, SCT, SFW, SGI, SID, SUN, SVG, TGA, TIFF, TIM, UIL, VIFF, VICAR,\
          \ VBMP, WDP, WEBP, WPG, X, XBM, XCF, XPM, XWD, X3F, YCbCr, YCbCrA, YUV"
        required: true
        type: "string"
      - name: "format2"
        in: "path"
        description: "Output (convert to this format) file format as a 3+ letter file\
          \ extension.  Supported formats include AAI, ART, ARW, AVS, BPG, BMP, BMP2,\
          \ BMP3, BRF, CALS, CGM, CIN, CMYK, CMYKA, CR2, CRW, CUR, CUT, DCM, DCR,\
          \ DCX, DDS, DIB, DJVU, DNG, DOT, DPX, EMF, EPDF, EPI, EPS, EPS2, EPS3, EPSF,\
          \ EPSI, EPT, EXR, FAX, FIG, FITS, FPX, GIF, GPLT, GRAY, HDR, HEIC, HPGL,\
          \ HRZ, ICO, ISOBRL, ISBRL6, JBIG, JNG, JP2, JPT, J2C, J2K, JPEG/JPG, JXR,\
          \ MAT, MONO, MNG, M2V, MRW, MTV, NEF, ORF, OTB, P7, PALM, PAM, PBM, PCD,\
          \ PCDS, PCL, PCX, PEF, PES, PFA, PFB, PFM, PGM, PICON, PICT, PIX, PNG, PNG8,\
          \ PNG00, PNG24, PNG32, PNG48, PNG64, PNM, PPM, PSB, PSD, PTIF, PWB, RAD,\
          \ RAF, RGB, RGBA, RGF, RLA, RLE, SCT, SFW, SGI, SID, SUN, SVG, TGA, TIFF,\
          \ TIM, UIL, VIFF, VICAR, VBMP, WDP, WEBP, WPG, X, XBM, XCF, XPM, XWD, X3F,\
          \ YCbCr, YCbCrA, YUV"
        required: true
        type: "string"
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
      responses:
        200:
          description: "OK"
          schema:
            type: "file"
      x-swagger-router-controller: "ConvertImage"
  /convert/template/html/apply:
    post:
      tags:
      - "ConvertTemplate"
      summary: "Apply HTML template"
      description: "Apply operations to fill in an HTML template, generating a final\
        \ HTML result"
      operationId: "ConvertTemplate_ApplyHtmlTemplate"
      consumes:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "value"
        description: "Operations to apply to template"
        required: true
        schema:
          $ref: "#/definitions/HtmlTemplateApplicationRequest"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/HtmlTemplateApplicationResponse"
      x-swagger-router-controller: "ConvertTemplate"
  /convert/web/url/to/screenshot:
    post:
      tags:
      - "ConvertWeb"
      summary: "Take screenshot of URL"
      description: "Fully renders a website and returns a PNG screenshot of the full\
        \ page image.  Javascript, HTML5, CSS and other advanced features are all\
        \ supported."
      operationId: "ConvertWeb_UrlToScreenshot"
      consumes:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      - "application/x-www-form-urlencoded"
      produces:
      - "image/png"
      parameters:
      - in: "body"
        name: "input"
        description: "Screenshot request parameters"
        required: true
        schema:
          $ref: "#/definitions/ScreenshotRequest"
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "ConvertWeb"
  /convert/web/url/to/pdf:
    post:
      tags:
      - "ConvertWeb"
      summary: "Convert a URL to PDF"
      description: "Fully renders a website and returns a PDF of the full page.  Javascript,\
        \ HTML5, CSS and other advanced features are all supported."
      operationId: "ConvertWeb_UrlToPdf"
      consumes:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/pdf"
      parameters:
      - in: "body"
        name: "input"
        description: "URL to PDF request parameters"
        required: true
        schema:
          $ref: "#/definitions/ScreenshotRequest"
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "ConvertWeb"
  /convert/web/html/to/pdf:
    post:
      tags:
      - "ConvertWeb"
      summary: "Convert HTML string to PDF"
      description: "Fully renders a website and returns a PDF of the HTML.  Javascript,\
        \ HTML5, CSS and other advanced features are all supported."
      operationId: "ConvertWeb_UrlToPdf"
      consumes:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/pdf"
      parameters:
      - in: "body"
        name: "input"
        description: "HTML to PDF request parameters"
        required: true
        schema:
          $ref: "#/definitions/HtmlToPdfRequest"
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "ConvertWeb"
securityDefinitions:
  Apikey:
    description: "API Key Authentication"
    type: "apiKey"
    name: "Apikey"
    in: "header"
definitions:
  HtmlTemplateApplicationRequest:
    type: "object"
    properties:
      HtmlTemplate:
        type: "string"
      HtmlTemplateUrl:
        type: "string"
      Operations:
        type: "array"
        items:
          $ref: "#/definitions/HtmlTemplateOperation"
    description: "HTML template application request"
    example:
      HtmlTemplate: "HtmlTemplate"
      Operations:
      - Action: 0
        ReplaceWith: "ReplaceWith"
        MatchAgsint: "MatchAgsint"
      - Action: 0
        ReplaceWith: "ReplaceWith"
        MatchAgsint: "MatchAgsint"
      HtmlTemplateUrl: "HtmlTemplateUrl"
  HtmlTemplateOperation:
    type: "object"
    properties:
      Action:
        type: "integer"
        format: "int32"
        enum:
        - 1
      MatchAgsint:
        type: "string"
      ReplaceWith:
        type: "string"
    example:
      Action: 0
      ReplaceWith: "ReplaceWith"
      MatchAgsint: "MatchAgsint"
  HtmlTemplateApplicationResponse:
    type: "object"
    properties:
      Successful:
        type: "boolean"
      FinalHtml:
        type: "string"
    description: "Response from an HTML template application"
    example:
      FinalHtml: "FinalHtml"
      Successful: true
  ScreenshotRequest:
    type: "object"
    properties:
      Url:
        type: "string"
      ExtraLoadingWait:
        type: "integer"
        format: "int32"
    description: "Details of the screenshot request"
    example:
      ExtraLoadingWait: 0
      Url: "Url"
  HtmlToPdfRequest:
    type: "object"
    properties:
      Html:
        type: "string"
      ExtraLoadingWait:
        type: "integer"
        format: "int32"
    description: "Details of the HTML to PDF request"
    example:
      Html: "Html"
      ExtraLoadingWait: 0
